
/* 头部 */
.header{height: 65px; border-bottom: 5px solid #404553;  background-color: #393D49; color: #fff;}
.logo{position: absolute; left: 0; top: 2px;}
.logo img{width: 100px; height: 61px;}

.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; line-height: 66px;}

.menu{position: absolute; right: 0; top: 0; line-height: 65px;}
.menu a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.menu a{position: relative; padding: 0 20px; margin: 0 20px; color: #c2c2c2; font-size: 14px;}
.menu a:hover{color: #fff; transition: all .5s; -webkit-transition: all .5s}
.menu a.this{color: #fff}
.menu a.this::after{content: ''; position: absolute; left: 0; bottom: -1px; width: 100%; height: 5px; background-color: #5FB878;}

.header-index{background-color: #080018; border: none;}

.layui-layout-admin .header-demo{border-bottom-color: #009688; background-color: #fff;}
.header-demo .logo{left: 40px;}
.header-demo .layui-nav{top: 0;}
.header-demo .layui-nav .layui-nav-item{margin: 0 10px; line-height: 70px;}
.header-demo .layui-nav .layui-nav-item a{color: #999;}
.header-demo .layui-nav .layui-this{background-color: #f2f2f2;}
.header-demo .layui-nav .layui-nav-item a:hover, 
.header-demo .layui-nav .layui-this a{color: #000;}
.header-demo .layui-nav .layui-this:after, 
.header-demo .layui-nav-bar{background-color: #393D49;}
.header-demo .layui-nav .layui-this a{padding: 0 30px;}

.layui-body{
	padding: 10px;
	bottom: 26px;
}
iframe{
	border: none;
	display: block;
width: 100%;
height: 100%;
}

.user-box{width: 200px;margin-top: 20px;margin-bottom:20px;text-align: center;color: #eee;}
.user-box img{width: 80px;height: 80px;border-radius: 50%;border:4px solid #44576b;margin-bottom: 10px}

/* 底部 */
.footer{padding: 30px 0; line-height: 30px; text-align: center; background-color: #eee; color: #666; font-weight: 300;}
body .layui-layout-admin .footer-demo{height: 26px; padding: 10px 0; line-height: 26px;border-top: 1px solid #e2e2e2}
.footer a{padding: 0 5px;}


.layui-tb-input{
	height: 32px;
	width: 40px;
	display: inline-block;
	text-align: center;
}

.layui-table .layui-gray{
	color:#aaa;
}
.layui-tab-page .layui-laypage{margin:0;}

.layui-tab-page .layui-laypage a,
.layui-tab-page .layui-laypage span{
	margin:0;
}
.layui-fg-red{
	color: #FF5722;
}
.layui-fg-green{
	color: #5FB878;
}
.layui-fg-gray{
	color: #808080;
}
.layui-upload-button-small{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	font-weight: initial;
}
.layui-upload-button-small i{
	font-size: 16px !important;
}